/*search list headers*/
h3 {
    text-transform: capitalize;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.listitem {
    padding: 10px 0;
}

#searchbar {
    padding-left: 10px;
}

.linkitem {
    cursor: pointer;
    transition: 0.2s ease;
    border-color: rgba(0, 0, 0, 0.1);
}
.linkitem:hover {
    padding-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
