<md-content>
    <h3>Overview</h3>
    <p>
        DCC spellsearch is a project intended to speed up the resolution of spellcasting
        in Goodman Games' Dungeon Crawl Classics (DCC) Role Playing Game. Additionally,
        it facilitated the explorations of its creator (Josh Trahan, joshpublic1
        [at] trahans.net) in the technical aspects of its creation.
    </p>
    <h3>Use: Search Tab</h3>
    <p>
        This tab contains the main functionality of this application.
        Type the name of the spell you're casting into the <i>spell name</i> input.
        Type the die-result into the <i>roll</i> input to highlight the result of
        the casting. The <i>quick-search</i> option, when enabled, auto-fills as
        much about the spell name as the algorithm can infer from what you've typed
        so far. For example, only 1 spell, "gust of wind",
        starts with "g", so typing in a "g" will complete the search "gust of wind". Typing
        "i" will autofill "inv" (<i>inv</i>oke patron, <i>inv</i>isibility, <i>inv</i>isible companion).
        Typing an "o" will complete that search to "invoke patron" -- a
        total of two key presses. The purpose of this feature is to minimize the
        number of keys a haggared game-master must press in order to use this utility.
    </p>
    <p>
        The <i>about</i> menu, when expanded, includes the relevant information
        about the spell. The <i>results</i> menu, when expanded, contains the spell result table.
        When the <i>roll</i> field (described above) is filled, this menu will
        expand automatically and only show the result for the number you type.
    </p>
    <h3>Use: Spell List Tab</h3>
    <p>
        <p>
            This tab displays the full list of spells featured in this application,
            broken down by spell level. Clicking on a spell in the list will take
            you to the search page, auto-fill the <i>spell name</i> field with the spell,
            and highlight the <i>roll</i> field.
        </p>
    </p>
    <h3>Implementation</h3>
    <p>
        DCC spellsearch as implemented using a search trie, a tree-like datastructure
        which facilitated the quick-search functionality. The user interface was
        built using AngularJS including AngularJS Material, the Angular library's
        Material Design module. The pages in the tabs above showcase single-page
        application design while still breaking content into multiple files for
        organizational purposes.
    </p>
    <h3>Credits</h3>
    <p>
        <a href="goodman-games.com">Goodman Games</a> for creating the fantastic
        Dungeon Crawl Classics RPG. Purple Sorcerer Games'
        <a href="https://purplesorcerer.com/grimoire.php">Grimoire utility</a>
        from which I parsed the spell data using regex and elbow grease.
    </p>
</md-content>
