
<md-list flex style="overflow: auto" ng-repeat="level in [1,2,3,4,5]">
    <md-list-item ng-click="showLevel[level] = !showLevel[level]" class="md-whiteframe-1dp">
        <h2 flex>Level {{level}} spells</h2>
        <span layout="left center" class="md-secondary" ng-show="showLevel[level]"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 18 18"><path d="M9 6l-4.5 4.5 1.06 1.06L9 8.12l3.44 3.44 1.06-1.06z"/></svg></span>
        <span layout="left center" class="md-secondary" ng-show="!showLevel[level]"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 18 18"><path d="M12.44 6.44L9 9.88 5.56 6.44 4.5 7.5 9 12l4.5-4.5z"/></svg></span>
    </md-list-item>

    <md-list-item ng-show="showLevel[level]" ng-repeat="spell in spells[level] track by $index" class="md-2-line">
            <div layout="column" class="md-list-item-text listitem linkitem" ng-click="setCurrentSearchTerm(spell.name)">
                <h3>{{$index + 1}}</h3>
                <p>{{spell.name}}</p>
            </div>
    </md-list-item>
</md-list>
