<md-content layout-padding layout=column>
    <div flex>
        <div class="md-whiteframe-1dp" layout="row" id="searchbar">
            <md-autocomplete
                flex md-input-id="searchtext"
                md-input-name="searchnamefield"
                md-selected-item="selectedItem"
                md-search-text-change="search()"
                md-search-text="searchtext"
                md-selected-item-change="setCurrentSearchTerm(suggestion);"
                md-items="suggestion in suggestions"
                md-item-text="suggestion"
                md-floating-label="Spell Name">
                <!-- <md-autocomplete md-search-text="searchtext" md-items="[]" md-floating-label="test"> -->
                <md-item-template>
                    <span md-highlight-text="searchtext">{{suggestion}}</span>
                </md-item-template>
                <md-not-found>
                    No spells were found.
                </md-not-found>
            </md-autocomplete>
            <md-input-container flex>
                <label>Roll</label>
                <input id="searchnumber" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model="searchnumber" ng-keydown="numberchange($event)">
            </md-input-container>
            <md-input-container flex>
                <md-checkbox ng-model="autocomplete">quick-search</md-checkbox>
            </md-input-container>
        </div>
    </div>
    <!-- <div layout="row" >


    </div> -->
</md-content>
<div ng-show="resultcontent.results" layout-padding layout="column">
    <md-list flex style="height: 50vh; overflow: auto" >

        <!-- about button -->
        <md-list-item ng-click="showAbout = !showAbout" class="md-whiteframe-1dp">
            <h2 flex>About</h2>
            <span layout="left center" class="md-secondary" ng-show="showAbout"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 18 18"><path d="M9 6l-4.5 4.5 1.06 1.06L9 8.12l3.44 3.44 1.06-1.06z"/></svg></span>
            <span layout="left center" class="md-secondary" ng-show="!showAbout"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 18 18"><path d="M12.44 6.44L9 9.88 5.56 6.44 4.5 7.5 9 12l4.5-4.5z"/></svg></span>
        </md-list-item>

        <!-- about content -->
        <md-list-item ng-show="showAbout" class="md-2-line" ng-repeat="fieldname in ['notes', 'description', 'misfire', 'corruption'] track by $index">
            <div layout="column" class="md-list-item-text listitem">
                <h3>{{fieldname}}</h3>
                <p>{{resultcontent[fieldname]}}</p>
            </div>
            <!-- <md-divider ng-if="!$last"></md-divider> -->
        </md-list-item>

        <!-- results button -->
        <md-list-item ng-click="showResults = !showResults" class="md-whiteframe-1dp">
            <h2 flex>Results</h2>
            <span layout="left center" class="md-secondary" ng-show="showResults || searchnumber"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 18 18"><path d="M9 6l-4.5 4.5 1.06 1.06L9 8.12l3.44 3.44 1.06-1.06z"/></svg></span>
            <span layout="left center" class="md-secondary" ng-show="!showResults && !searchnumber"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 18 18"><path d="M12.44 6.44L9 9.88 5.56 6.44 4.5 7.5 9 12l4.5-4.5z"/></svg></span>
        </md-list-item>

        <!-- results content -->
        <md-list-item  class="md-2-line" ng-repeat="resultrow in resultcontent.results" ng-show="(!isHidden(resultrow.roll) && showResults) || (!isHidden(resultrow.roll) && searchnumber)">
            <div layout="column" class="md-list-item-text listitem">
                <h3>{{resultrow.roll}}</h3>
                <p>{{resultrow.result}}</p>
            </div>
        </md-list-item>
    </md-list>

</div>
